# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

*.log
*.gz

# Sphinx documentation
docs/_build/

# project specific
build/jobber/temp
build/gh_token.mk